@model IEnumerable<FinalWebSite.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.No_of_copies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Printed_or_not)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toPrint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Msg_Sent_Or_Not)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citizen.Citizen_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mostanadat.Mostanad_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Msale7.Msl7a_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_copies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printed_or_not)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toPrint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Msg_Sent_Or_Not)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citizen.Citizen_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mostanadat.Mostanad_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Msale7.Msl7a_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Request_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Request_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Request_ID })
        </td>
    </tr>
}

</table>
